.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.available-now {
  color: #3e3e3e;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.available-now p {
  margin-left: 116px;
}

.available-now button {
  background-color: rgb(230, 0, 18);
  border: none;
  margin-left: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.available-now button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(204, 3, 20);
}

.featured-text {
  color: #3e3e3e;
  margin-left: 114px;
}

.featured-content {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
  height: auto;
}

.featured {
  border: 2px solid #ffa94d;
  background-color: #ffd8a8;
  color: #d9480f;
  width: 280px;
  height: 365px;
  margin: 10px;
}
