.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.available-now {
  color: #3e3e3e;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.available-now p {
  margin-left: 116px;
}

.available-now button {
  background-color: rgb(230, 0, 18);
  border: none;
  margin-left: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.available-now button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(204, 3, 20);
}

.featured-text {
  color: #3e3e3e;
  margin-left: 114px;
}

.featured-content {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  height: auto;
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #3e3e3e;
  height: 200px;
  width: 280px;
  margin: 10px;
}

.featured img {
  transition: all 0.2s ease-in-out;
}

.featured img:hover {
  cursor: pointer;
  margin-bottom: 5px;
}
